<div style="float: left; height: 500px; width: 250px;">

  <%= link_to "Compose", '#'  %><br/>
  <%= link_to "Inbox", '#'  %><br/>
  <%= link_to "Sent" , '#'  %><br/>
  <%= link_to "Trash", '#'  %><br/>




</div>


