<div class="shadowCont offer">
	<div class="clear"></div>
	
	<h2 style="margin-top: 0">Did not receive confirmation instructions ?</h2>
	
	<div style="margin: 30px 0 10px;">If you did not receive account confirmation instructions, please enter your e-mail below to send them again :</div>	
	
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>
	
		<div><%= f.email_field :email, :style => "width:315px;", :class => "input", :hint => "Email" %></div>
		<div style="margin-top: 20px;"><%= f.submit "Send", :class => "search" %></div>
	
	<% end %>
</div>