<p>Admin has created an account of you</p>

You can log in to the website by clicking at this url <%=@url%> following email and passwod
<br/>
Email : <%=@user.email%>
Password : <%=@user.password%>

regards Admin!

