<div id="get-list-header">
  <h2><%= t(:gatherings2) %></h2>
</div>
<div class="listx-bg" id="gatherings_list">
  <%= render :partial => "list", :locals => {:offers => @offers} %>
</div>
<div class="btn-bar">
</div>