<div class="shadowCont offer">

	<%#= render :partial => "favorites_header" %>
	<div class="clear"></div>
	
	<div class="listx-bg">
		<%= render :partial => "favorites", :locals => {:items => @items}  %>
	</div>
</div>
