<div id="get-list-header">
  <h2>Favorite Listings</h2>
</div>

<div class="listx-bg">
  <div id="favorite_div">
    <%= render :partial => "favorites", :locals => {:items => @items}  %>
  </div>
</div>


