@charset "utf-8";

* {
     margin: 0pt;
     padding: 0pt;
}

img {
     border: 0pt none;
}

a {
     color: #000000;
     text-decoration: none;
}

.dropdowns select {
     background: none repeat scroll 0pt 0pt transparent;
     border: 0pt none;
     float: left;
     margin: 2px 15px;
     padding: 2px 5px;
}

body {
     background: url("../images/BG.png") repeat-x scroll 0% 0% transparent;
     font-family: Arial,Helvetica,sans-serif;
}

.menubar a {
     float: left;
     font-weight: bold;
     padding: 6px 24px;
     text-transform: uppercase;
}

.maincontainer {
     margin: 0pt auto;
     width: 1020px;
}

.logo {
     float: left;
     margin-top: 15px;
}

.menubar {
     float: left;
     font-size: 12px;
     margin-top: 7px;
     padding-left: 20px;
     width: 838px;
}

.header {
     float: left;
     width: 100%;
}

.loginpannel {
     float: right;
     height: 22px;
     padding-top: 10px;
}

.loginpannel input[type="button"] {
     background-color: #FFFF33;
     border: 1px solid #000000;
     font-size: 12px;
     height: 19px;
     margin-right: 5px;
     margin-top: 2px;
     padding-bottom: 2px;
     text-transform: uppercase;
     width: 44px;
}

.loginpannel input[type="text"], .loginpannel input[type="password"] {
     border: 1px solid #000000;
     float: left;
     height: 17px;
     margin-right: 10px;
     margin-top: 2px;
     width: 76px;
}

.loginpannel input[type="text"] {
     width: 103px;
}

.dropdowns {
     float: right;
}

.listaspace {
     margin-top: 6px;
}

.contentholder {
     float: left;
     margin-top: 25px;
     width: 100%;
}

.rightcontent {
     box-shadow: 2px 2px 2px;
     float: right;
     padding: 0pt 17px;
     position: relative;
     right: 29px;
     width: 207px;
}

.leftcontent {
     float: left;
     margin-left: 10px;
     width: 716px;
}

.refinesearchresults {
     background-color: #FFFFFF;
     box-shadow: 2px 2px 2px;
     height: 60px;
}

.refinesearchresults .area {
     border: 1px solid #000000;
     float: left;
     font-size: 18px;
     height: 34px;
     margin-left: 24px;
     margin-right: 44px;
     margin-top: 14px;
     width: 220px;
}

.refinesearchresults input[type="text"] {
     border: 1px solid #000000;
     float: left;
     font-size: 18px;
     height: 34px;
     margin-right: 22px;
     margin-top: 14px;
     width: 121px;
}

.refinesearchresults input[type="image"] {
     margin: 16px;
}

.refinesearchresults span {
     float: left;
     font-size: 14px;
     line-height: 62px;
     margin-right: 7px;
}

.sortby {
     float: right;
     font-size: 12px;
     font-weight: bold;
     margin-top: 12px;
     width: 100%;
}

.sortby span {
     float: right;
     line-height: 28px;
     margin-right: 8px;
}

.sortby select {
     float: right;
     padding: 3px;
}

.resultsholderlist {
     box-shadow: 2px 2px 2px;
     float: left;
     margin-top: 10px;
     width: 100%;
}

.resultsholder {
     border-bottom: 1px solid #000000;
     float: left;
     height: 141px;
     width: 100%;
}

.resultsholder img {
     float: left;
     margin: 11px 16px 11px 30px;
}

.resultsholder .heading {
     float: left;
     font-size: 22px;
     font-weight: bold;
     padding-top: 12px;
     width: 419px;
}

.resultsholder .subheading {
     font-size: 12px;
     font-weight: bold;
     line-height: 8px;
}

.resultsholder .details {
     font-size: 12px;
}

.resultsholder .price {
     float: right;
     font-size: 30px;
     font-weight: bold;
     margin-top: 8px;
     text-align: center;
     width: 100px;
}

.resultsholder .perweek {
     font-size: 14px;
     line-height: 2px;
}

.pannelright {
     border: 1px solid #000000;
     display: table;
     margin-top: 10px;
     min-height: 66px;
     padding: 5px;
     text-align: center;
     width: 193px;
}

.closepannel {
     float: right;
}

.pannelright .heading_right {
     float: left;
     font-size: 14px;
     margin-bottom: 0px;
     text-align: left;
     text-transform: uppercase;
     width: 170px;
}

h2 {
     font-size: 16px;
     margin: 2px 0pt;
}

.twocol {
     float: left;
     font-size: 10px;
     text-align: left;
     width: 100%;
}

.twocol span {
     float: left;
     line-height: 7px;
     margin: 6px 0pt 6px 2px;
     width: 85px;
}

.twocol .leftrow {
     float: left;
     width: 49%;
}

.twocol .rightrow {
     float: left;
     margin-left: 1%;
     width: 49%;
}

.twocol .unselected {
     border: 1px solid #000000;
     float: left;
     height: 5px;
     margin: 6px 0pt;
     width: 5px;
}

.twocol .selected {
     background-color: #CC33FF;
     border: 1px solid #000000;
     float: left;
     height: 5px;
     margin: 6px 0pt;
     width: 5px;
}
