@charset "utf-8";

* {
    margin: 0pt;
    padding: 0pt;
}

img {
    border: 0pt none;
}

a {
    color: #000000;
    text-decoration: none;
}

.dropdowns select {
    background: none repeat scroll 0pt 0pt transparent;
    border: 0pt none;
    float: left;
    margin: 2px 15px;
    padding: 2px 5px;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
}

.menubar a {
    float: left;
    font-weight: bold;
    padding: 6px 24px;
    text-transform: uppercase;
}

.maincontainer {
    margin: 0pt auto;
    width: 1020px;
}

.logo {
    float: left;
    margin-top: 15px;
}

.menubar {
    float: left;
    font-size: 12px;
    margin-top: 7px;
    padding-left: 20px;
    width: 838px;
}

.header {
    background: url("../assets/BG.png") repeat-x scroll 0 0 #FFFFFF;
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.loginpannel {
    float: right;
    height: 22px;
    padding-top: 10px;
}

.loginpannel input[type="button"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="submit"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="text"], .loginpannel input[type="password"] {
    border: 1px solid #000000;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-top: 2px;
    width: 76px;
}

.loginpannel input[type="text"] {
    width: 103px;
}

.dropdowns {
    float: right;
}

.listaspace {
    margin-top: 6px;
}

.contentholder {
    float: left;
    margin-top: 105px;
    padding-bottom: 20px;
    width: 100%;
}

.header .contentholder {
    margin-top: 0px;
}

.rightcontent {
    box-shadow: 2px 2px 2px;
    float: right;
    padding: 0pt 17px;
    position: relative;
    right: 29px;
    width: 207px;
}

.leftcontent {
    float: left;
    margin-left: 10px;
    width: 716px;
}

.refinesearchresults {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px;
    height: 60px;
}

.refinesearchresults .area {
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
    height: 34px;
    margin-left: 24px;
    margin-right: 44px;
    margin-top: 14px;
    width: 220px;
}

.refinesearchresults input[type="text"] {
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
    height: 32px;
    margin-right: 22px;
    margin-top: 14px;
    width: 121px;
}

.refinesearchresults input[type="image"] {
    margin: 16px;
}

.refinesearchresults span {
    float: left;
    font-size: 14px;
    line-height: 62px;
    margin-right: 7px;
}

.sortby {
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    width: 100%;
}

.sortby span {
    float: right;
    line-height: 28px;
    margin-right: 8px;
}

.sortby select {
    float: right;
    padding: 3px;
}

.resultsholderlist {
    box-shadow: 2px 2px 2px;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.resultsholder {
    border-bottom: 1px solid #000000;
    float: left;
    height: 141px;
    width: 100%;
}

.resultsholder img {
    float: left;
    margin: 11px 16px 11px 30px;
}

.resultsholder .heading {
    float: left;
    font-size: 22px;
    font-weight: bold;
    padding-top: 12px;
    width: 419px;
}

.resultsholder .subheading {
    font-size: 12px;
    font-weight: bold;
    line-height: 8px;
}

.resultsholder .details {
    font-size: 12px;
}

.resultsholder .price {
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    width: 110px;
    color: #666666;
}

.resultsholder .perweek {
    font-size: 14px;
    line-height: 2px;
}

.pannelright {
    border: 1px solid #000000;
    display: table;
    margin-top: 10px;
    min-height: 66px;
    padding: 5px;
    text-align: center;
    width: 193px;
}

.closepannel {
    float: right;
}

.pannelright .heading_right {
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 170px;
}

h2 {
    font-size: 16px;
    margin: 2px 0pt;
}

.twocol {
    float: left;
    font-size: 10px;
    text-align: left;
    width: 100%;
}

.twocol span {
    float: left;
    line-height: 7px;
    margin: 6px 0pt 6px 2px;
    width: 85px;
}

.twocol .leftrow {
    float: left;
    width: 49%;
}

.twocol .rightrow {
    float: left;
    margin-left: 1%;
    width: 49%;
}

.twocol .unselected {
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}

.twocol .selected {
    background-color: #CC33FF;
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}
.cont_heading{font-size:17px;font-weight:bold;color:#333;padding-left: 83px;}
.clear{width:0;height:0;overflow:hidden;visibility:hidden;display:block;clear:both;}
.fltL{float:left;}
.fltR{float:right;}
.leftArrow, .rightArrow{background:url(../assets/left_arrow.png) no-repeat;float:left; width:19px;height:29px;margin:64px 30px 0 30px;}
.rightArrow{background:url(../assets/right_arrow.png) no-repeat !important;margin:64px 0 0 10px;}
.gellaryHold{float:left;width:830px;}
.g_hold {
    background-color: #FFFFFF;
    box-shadow: 4px 5px 6px #333333;
    -webkit-box-shadow: 4px 5px 6px #333333;
    -moz-box-shadow: 4px 5px 6px #333333;
    float: left;
    margin-right: 20px;
    padding: 6px;
}
.g_hold img{}
.g_hold h1{font-size:12px;font-weight:bold;color:#3f3f3f;text-align:center;margin-top:5px;}
.g_hold p{font-size:12px;font-weight:bold;color:#3f3f3f;text-align:center;margin-top:5px;}
.g_hold h5{font-size:12px;font-weight:bold;float:left;margin-top:10px;color:#00cccc;background:url(../assets/man_icon.png) no-repeat;padding-left:8px;}
.g_hold h6{font-size:12px;font-weight:bold;color:#666666;float:right;margin-top:10px;}
.img-heading{margin-top:20px;text-align:center;}
.w370{width:370px;}
.w390{width:390px;}
.paris_hold {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 5px 6px;
    -webkit-box-shadow: 4px 5px 6px  #888;
    padding: 20px;
}

.mt10{margin-top:10px;}
.mt30{margin-top:30px !important;}
.paris {
    border: 1px solid #939393;
    font-size: 25px;
    padding: 5px 10px;
    width: 100%;
}
.start_time{margin-top:10px;}
.start_time p{font-size:15px;color:#010100;}
.start_time input{border: 1px solid #939393; margin-top: 5px; padding: 3px; width: 122px;}
/*.search_home {
    background: url(../assets/search_home.png) repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    float: left;
    font-size: 0;
    font-weight: bold;
    height: 34px;
    margin-left: 105px;
    margin-top: 20px;
    width: 128px;
}*/


.dropdown {
    float: left;
    margin: 0 6px;
    padding: 5px;
}
.dropdown ul {
    background-color: transparent;
    float: none;
    list-style: none outside none;
    padding-top: 5px;
    display: none;
    position: absolute;
}
.dropdown ul li {
    background-color: #CC33CC;
    float: left;
    width: 100%;
}
.dropdown ul li:hover {
    background-color: #000;
}
.dropdown span {
    padding: 8px;
}
.dropdown ul li a {
    padding: 5px 9px;
    color: #fff;
}
.dropdown:hover ul {
    display: block;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdown ul li:last-child {
    border: 0 none transparent;
}
.dropdown span {
    background: url("../assets/v.png") no-repeat scroll right center transparent;
    padding: 0 13px;
}

.play_hold {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 5px 6px #333333;
    -webkit-box-shadow: 4px 5px 6px #333333;
    -moz-box-shadow: 4px 5px 6px #333333;
    padding: 25px;
}
.play_hold h1{font-size:18px;color:#666666;font-weight:bold;margin-bottom:10px;}
.mr100{margin-right:100px;}
.ml40{margin-left:40px;}
.text_he{font-size:13px; color:#000;}
.search_dd{border: 1px solid #000000;float: left;font-size: 18px;height: 32px;margin-right: 22px;margin-top: 14px;width: 175px;}
.blue{color:#07c9c9 !important;}
.footer{font-size:11px; color:#353631;padding-bottom:20px;}
.footer a{text-decoration:none;color:#353631; margin-right:10px;}
.footer a:last-child{margin-right:0;}
.right{right:0;position:absolute;top:200px;}
.right .mail, .right .facebook, .right .google, .right .twiter{background:url(../assets/icon_sprit.png) no-repeat scroll 0 0 transparent;display: block; height: 20px; margin-bottom: 7px; width: 22px;}
.right .facebook{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -45px transparent;}
.right .google{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -90px transparent;}
.right .mail{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -134px transparent;}
.m_act{background:#fff;}
.shadowCont {
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 2px #333333;
    box-shadow: 2px 2px 2px #333333;
    padding: 20px;
}

.s_head{font-size:22px;color:#00ffff;font-weight:bold;}
.reqInfo{color:#999999;margin-top:20px;margin-left:130px;}
.sign_up_input{margin-top:5px;}
.sign_up_input label{float:left;width:120px; margin-right:10px;text-align:right;font-size:12px;color:#000;font-weight:bold;line-height:20px;}
.sign_up_input input{width:198px;float:left;border:1px solid #666666;padding:2px 3px;}
.sign_up_input textarea{width:534px;float:left;border:1px solid #666666;padding:2px 3px;}
.day, .month, .year{float:left;margin-right:5px;border:1px solid #666;padding:3px;width:60px;}
.month{width:60px;}
.year{width:87px;}
.checkbox{margin-top:5px;}
.checkbox input{float:left;margin-right:5px;width:auto;}
.checkbox label{float:left;text-align:left;font-weight:normal;}
.w50{width:50px !important;}
.mr10{margin-right:10px;}
.w129{width:129px !important;}
.back{font-size:14px;font-weight:bold;color:#333333;margin-top:10px;margin-bottom:10px;display:block;}
.charming{font-size:20px;color:#333;font-weight:bold;}
.charming_text{font-size:12px;color:#666;font-weight:bold;margin-top:2px;}
.graytext{color:#999999 !important;}
.gallery{margin-top:10px;margin-left:-20px;float:left;}
.size{font-size:14px;color:#333333;font-weight:bold;float:left;margin-right:10px;}
.size_text{font-size:14px;color:#333333;float:left;}
.w200{width:200px;}
.mt100{margin-top:100px;}
.line{background:none scroll 0 0 #666666;height:1px;margin:30px 0;}
.name{font-size:12px;font-weight:bold;color:#000;}
.name_text{font-size:12px;;color:#000;font-style:italic;}
.send{font-size:12px;font-weight:bold;color:#cc33cc;margin-top:20px;display:block;}
.w107{width:107px;}
.available{font-size:18px;color:#000;}
.daytime{background: url("../assets/plus.png") no-repeat scroll left center transparent;color: #000000; float: left; font-size: 12px; margin-right: 37px; margin-top: 6px; padding-left: 20px; text-align: center;}
.w212{width:212px;}
.ml70{margin-left:70px !important;}
.search {
    background: none repeat scroll 0 0 #CC33CC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 20px;
    padding: 5px 25px;