@charset "utf-8";

@font-face {
    font-family: Proxima;
    src: url(font/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Proxima-bold;
    src: url(font/ProximaNova-Bold.otf);
}

@font-face {
    font-family: Proxima-light;
    src: url(font/ProximaNova-Light.otf);
}

@font-face {
    font-family: Proxima-semibold;
    src: url(font/ProximaNova-Semibold.otf);
}

@font-face {
    font-family: XXII;
    src: url(font/XXII-MARKER_Regular.otf);
}

* {
    margin: 0pt;
    padding: 0pt;
}

img {
    border: 0pt none;
}

a {
    color: #333333;
    text-decoration: none;
}

a.info {
   position: relative;
   color: black;
   text-decoration: none;
   border-bottom: 1px gray dotted; /* On souligne le texte. */
   line-height: inherit;
}
a.info span {
   display: none; /* On masque l'infobulle. */
}
a.info:hover {
   background: none; /* Correction d'un bug d'Internet Explorer. */
   z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

   cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}
a.info:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: absolute;

   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */

   top: 18px; /* On positionne notre infobulle. */
   left: 20px;

   background: white;

   color: #666666;
   padding: 3px;

   border: 1px solid #666666;
   border-left: 4px solid #666666;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], input[type="tel"], textarea {
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 1px 1px #FFFFFF, 0 1px 0 #BBBBBB inset;
    /*font-size: 0.8em;*/
    margin: 0.3em;
    outline: medium none;
    padding: 0.4em 0.5em 0.2em;
    width: 10em;
}

#logo {
	display: block;
	width: 94px;
	height: 33px;
	background: url('../assets/listaspace.png') top;
	text-indent: -99999px;
}
	
#logo:hover {
	background-position: 0 bottom;
}

.ui-widget {
	font-size: 0.7em !important;	
}


.chzn-container-single .chzn-single span {
	margin-right: 15px;
}


.chzn-container-single .chzn-single {
	padding: 0 0 0 4px;
}

.chzn-container .chzn-results li {
	padding: 5px 2px;
}

.dropdowns select {
    background: none repeat scroll 0pt 0pt transparent;
    border: 0pt none;
    float: left;
    margin: 2px 15px;
    padding: 2px 5px;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Proxima,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.notice {
	margin-bottom: 10px;
	text-align: center; 
	border: 2px solid black; 
}

.notice p {
	padding: 5px;
	margin: 0 auto;
	color: white;
	

}

.shadowCont h1 {
	font-size: 22px;
   margin-bottom: 20px;
   font-family: Proxima;
}
.shadowCont p {
	font-size: 1em;
   margin-bottom: 10px;
}

.layout-page {
	margin: 0 auto;
   text-align: left;
   width: 713px;
}

.layout-center {
   text-align: center;
}

.menu-sub-layout {
	/*border: 1px solid black;*/
	box-shadow: 2px 2px 6px #333333;
   line-height: 45px;
   text-align: center;
   font-family: proxima-semibold;
}

.menu-sub {
	border: 1px solid black;
   margin: 0 100px;	
   padding: 2px 0;
}

.menu-sub a {
	text-transform: uppercase;	
	padding: 2px 30px;
}

.home {
	text-align: center;
}

.home .paris_hold input[type="text"] {
	font-size: 1em;
}

.home .chzn-container {
	top: 10px;
	font-size: 1em !important;
}

.home .chzn-container-single .chzn-single {
	height: 31px !important;
    line-height: 30px !important;
}

.home .chzn-container-single .chzn-single div {
	top: 4px !important;	
}

.home .jcarousel-skin-tango .jcarousel-container-horizontal {
	margin: 0 auto;	
}

.submenu .unselected:hover {
   color: #666666;
}

.submenu .unselected {
	color: #BBBBBB;
}

.submenu {
	text-align: center;
	float: left;
	font-size: 1.3em;
	line-height: 20px;
}

.submenu .separator {
	border-color: cyan;
   border-image: none;
   border-style: solid;
   border-width: 0 1px 0 1px;
}

.submenu a {
	padding: 0 20px 0 18px;
	display: inline-block;
}

.menubar a {
    /*float: left;
    */
    padding: 0 24px;
    /*text-transform: uppercase;*/
}

.message {
	margin-top: 20px; 
	float: left;
	width: 96%;	
	min-height: 400px;
}

.message .body {
	color: #666666;
	margin: 10px;
}

.message .row {
   font-size: 12px;
   line-height: 30px;
   margin: 10px 0;
   padding: 5px 10px;
   width: auto;	
   overflow: auto;
   border: 1px solid #666666;
   font-size: 1em;
}

.row:hover {
	background: none repeat scroll 0 0 #FF99FF;
	cursor: pointer;
}

.row h4 {
	font-size: 1.4em;
	font-weight: normal;
	color: #333333;
	display: inline-block;
}

.message .action {
	border: 1px dashed transparent;	
	background: none repeat scroll 0 0 #EEEEEE;
   padding: 2px 20px;	
}

.message .action:hover {
	border: 1px dashed black;	
}

.unread {
	
}

.offer {
	min-height: 400px;
	margin-top: 20px;	
}

.imgx {
	float: left;
	margin-right: 20px;	
}

.menubar-left {
	float: left;
	line-height: 32px;	
	width: 82%;
}

#bar-unauth a {
	float: left;
}

.sub-link {
	font-size: 0.9em;
   
   color: #666666;	
}

.maincontainer {
    margin: 0pt auto;
    width: 1020px;
}

.logo {
    float: left;
    position: absolute;
}

.menubar {
    float: left;
    /*font-size: 12px;*/
    padding-left: 210px;
    width: 810px;
}

.header {
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.header-background {
	background: none repeat scroll 0 0 cyan; /* cyan; */
    height: 37px;
    position: absolute;
    width: 100%;
    z-index: -10;
    /*box-shadow: 0 -3px 7px #000000;*/
}


.loginpannel {
    height: 22px;
    padding-top: 10px;
}

.loginpannel input[type="button"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="submit"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="text"], .loginpannel input[type="password"] {
    border: 1px solid #000000;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-top: 2px;
    width: 76px;
}

.loginpannel input[type="text"] {
    width: 103px;
}

.dropdowns {
    float: right;
    height: 26px;
    line-height: 37px;
}

.listaspace {
    margin-top: 6px;
}

.xfields {
	clear: both;
   display: inline-block;
   line-height: 32px;
   padding: 0 5px;
   width: 900px;
}

.xfields label {
	float: left;
   text-align: right;
   width: 150px;
   margin-right: 10px;
   color: black;
}

.xfields .input {
	float: left;
}

.xfields .input input[type="checkbox"] {
		margin: 6px;
}

.offer h2 {
	color: #333333;
	font-size: 1.2em;
   margin: 23px 0 0;	
} 

.offer .policy {
	color: #666666;
   line-height: 15px;
   margin-left: 5px;
   width: 96%;
}

.contentholder {
    float: left;
    padding-bottom: 20px;
    width: 100%;
    min-height: 425px;
    padding-top: 86px;
}

.header .contentholder {
    margin-top: 0px;
}

#bar-useraction .menu-sub {
    display: inline-block;
    line-height: 20px;
    margin: 15px 20px;
}

#bar-searchaction .menu-sub {
    display: inline-block;
    line-height: 20px;
}

#bar-useraction .menu-sub a, #bar-searchaction .menu-sub a {
	padding: 2px 13px;
	font-size: 1.4em;
}

.rightcontent { 
    float: right;
    padding: 0 17px;
    position: relative;
    /*right: 12px;*/
    top: 20px;
    width: 207px;
}

.leftcontent {
    float: left;
    /*margin-left: 10px;*/
    width: 742px;
}

.refinesearchresults {
    background-color: #FFFFFF;
    height: 62px;
    margin-top: 20px;
    padding-top: 3px !important;
}

.refinesearchresults .area {
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
    height: 34px;
    margin-left: 24px;
    margin-right: 44px;
    margin-top: 14px;
    width: 220px;
}

.refinesearchresults input[type="text"] {
    float: left;
    font-size: 18px;
    height: 22px;
    margin: 0 10px 0 0;
    width: 121px;
}

.refinesearchresults input[type="image"] {
    margin: 1px;
}

.refinesearchresults span {
    float: left;
    font-size: 14px;
    line-height: 37px;
    margin-right: 7px;
}




.sortby {
    float: right;
    font-size: 12px;
/*    font-family: proxima-semibold; */
    margin-top: 5px;
    width: 100%;
}

.sortby span {
    line-height: 28px;
    margin-right: 8px;
}

.sortby select {
    padding: 0px;
}

.resultsholderlist {
    float: left;
    margin-top: 10px;
    width: 100%;
    padding: 0px !important;
}

.resultsholder {
    border-bottom: 1px solid #000000;
    float: left;
    height: 141px;
    width: 100%;
}

.resultsholder img {
    float: left;
    margin: 11px 16px 11px 30px;
}

.resultsholder .heading {
    float: left;
    font-size: 22px;
    
    padding-top: 12px;
    width: 419px;
}

.resultsholder .subheading {
    font-size: 12px;
    
    line-height: 8px;
}

.resultsholder .details {
    font-size: 12px;
}

.resultsholder .price {
    float: right;
    font-size: 30px;
    
    margin-top: 8px;
    text-align: center;
    width: 110px;
    color: #666666;
}

.resultsholder .perweek {
    font-size: 14px;
    line-height: 2px;
}

.pannelright {
    border: 1px solid #000000;
    display: table;
    margin-top: 10px;
    min-height: 66px;
    padding: 5px;
    text-align: center;
    width: 193px;
}

.closepannel {
    float: right;
}

.pannelright .heading_right {
    float: left;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 170px;
}

h2 {
    font-size: 16px;
    margin: 2px 0pt;
}

.twocol {
    float: left;
    font-size: 0.9em;
    text-align: left;
    width: 100%;
}

.twocol span {
    float: left;
    line-height: 7px;
    margin: 6px 0pt 6px 2px;
    width: 85px;
}

.twocol .leftrow {
    float: left;
    width: 49%;
}

.twocol .rightrow {
    float: left;
    margin-left: 1%;
    width: 49%;
}

.twocol .unselected {
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}

.twocol .selected {
    background-color: #CC33FF;
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}
.cont_heading{font-size:17px;color:#333;padding-left: 83px;}
.clear{width:0;height:0;overflow:hidden;visibility:hidden;display:block;clear:both;}
.fltL{float:left;}
.fltR{float:right;}
.leftArrow, .rightArrow{background:url(../assets/left_arrow.png) no-repeat;float:left; width:19px;height:29px;margin:64px 30px 0 30px;}
.rightArrow{background:url(../assets/right_arrow.png) no-repeat !important;margin:64px 0 0 10px;}
.gellaryHold{margin: 0 auto;}
.g_hold {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px #333333;
    -webkit-box-shadow: 2px 2px 6px #333333;
    -moz-box-shadow: 2px 2px 6px #333333;
    float: left;
    margin-right: 20px;
    padding: 6px;
    margin: 7px;
}
.g_hold img{
    height: 177px;
    width: 266px;
}
.g_hold h1{font-size: 16px;;color:#3f3f3f;text-align:center;margin-top:5px; width: 266px; height: 36px;}
.g_hold p{font-size: 22px;color:#3f3f3f;text-align:center;margin-top:13px;}
.g_hold h5{font-size:12px;float:left;margin-top:10px;color:#00cccc;background:url(../assets/man_icon.png) no-repeat;padding-left:8px;margin-left: 5px;}
.g_hold h6{font-size:19px;color:#666666;float:right;margin-top:2px;}
.img-heading{margin-top:20px;text-align:center;}
.w370{width:370px;}
.w390{width:390px;}
.paris_hold {
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 2px 6px;
    -webkit-box-shadow: 2px 2px 6px  #888;
    height: 78px;
    text-align: center;
    width: 812px;
    margin: 0 auto 20px;
    line-height: 78px;
}

.mt10{margin-top:10px !important;}
.mt30{margin-top:30px !important;}
.paris {
    font-size: 1em;
    padding: 5px 10px;
}
.start_time{margin-top:10px;}
.start_time p{font-size:15px;color:#010100;}
.start_time input{border: 1px solid #939393; margin-top: 5px; padding: 3px; width: 122px;}
/*.search_home {
    background: url(../assets/search_home.png) repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    float: left;
    font-size: 0;
    
    height: 34px;
    margin-left: 105px;
    margin-top: 20px;
    width: 128px;
}*/


.searchDropdown {
    float: left;
    margin: 0 6px 5px 0;
}
.searchDropdown ul {
    background-color: white;
    border-color: #BBBBBB;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-top: 5px;
    position: absolute;
}
.searchDropdown ul li {
    float: left;
    width: 100%;
    line-height: 15px;
}

.searchDropdown span {
    padding: 8px;
}
.searchDropdown ul li a {
    padding: 0px 9px;
    color: #000;
}
.searchDropdown ul li a:hover {
	color: #CC33CC;
}
.searchDropdown:target ul {
    display: block;
}
.searchDropdown:hover {
    cursor: pointer;
}
.searchDropdown ul li:last-child {
    border: 0 none transparent;
}
.searchDropdown span {
    background: url("../assets/v.png") no-repeat scroll right center transparent;
    padding: 0 13px;
}


.dropdown {
    float: left;
    margin: 0 6px;
}
.dropdown ul {
    background-color: transparent;
    float: none;
    list-style: none outside none;
    display: none;
    position: absolute;
}
.dropdown ul li {
    background-color: #CC33CC;
    float: left;
    width: 100%;
    line-height: 25px;
}
.dropdown ul li:hover {
    background-color: #000;
}
.dropdown span {
    padding: 8px;
}
.dropdown ul li a {
    padding: 5px 9px;
    color: #fff;
}
.dropdown:hover ul {
    display: block;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdown ul li:last-child {
    border: 0 none transparent;
}
.dropdown span {
    background: url("../assets/v.png") no-repeat scroll right center transparent;
    padding: 0 13px;
}

.play_hold {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 5px 6px #333333;
    -webkit-box-shadow: 4px 5px 6px #333333;
    -moz-box-shadow: 4px 5px 6px #333333;
    padding: 25px;
}
.play_hold h1{font-size:18px;color:#666666;margin-bottom:10px;text-align: center}
.mr100{margin-right:100px;}
.ml40{margin-left:40px;}
.text_he{font-size:13px; color:#000;}
.search_dd{border: 1px solid #000000;float: left;font-size: 18px;height: 32px;margin-right: 22px;margin-top: 14px;width: 175px;}
.blue{color:#07c9c9 !important;}
.footer{font-size:11px; color:#353631;padding-bottom:20px;}
.footer a{text-decoration:none;color:#353631; margin-right:10px;}
.footer a:last-child{margin-right:0;}
.right{right:0;position:absolute;top:200px;}
.right .mail, .right .facebook, .right .google, 
.right .twiter{background:url(../assets/icon_sprit.png) no-repeat scroll 0 0 transparent;display: block; height: 20px; margin-bottom: 7px; width: 22px;}
.right .facebook{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -45px transparent;}
.right .google{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -90px transparent;}
.right .mail{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -134px transparent;}
.m_act{background:#fff; /*padding-bottom: 5px !important;*/}
.shadowCont {
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 6px #333333;
    box-shadow: 2px 2px 6px #333333;
    padding: 20px;
    overflow: auto;
}

.s_head{font-size:22px;}
.reqInfo{color:#666666;margin:40px 0 5px 133px;  font-size: 1.2em;}
.info { font-size: 0.9em; color: #666666; line-height: 29px;}
.sign_up_input{}
.sign_up_input label{float:left;width:120px; margin-right:10px;text-align:right;color:#000;line-height:29px;}
.sign_up_input input{width:192px;margin-left: 3px; /*border:1px solid #666666;*/}
.sign_up_input textarea{width:534px;float:left; /*border:1px solid #666666;*/ padding:2px 3px;}
.day, .month, .year{float:left;margin-right:5px;border:1px solid #666;padding:3px;width:60px;}
.month{width:60px;}
.year{width:87px;}
.checkbox{margin-top:5px;}
.checkbox input{float:left;margin-right:5px;width:auto;}
.checkbox label{float:left;text-align:left;font-weight:normal;}
.w50{width:50px !important;}
.mr10{margin-right:10px;}
.w129{width:129px !important;}
.back{font-size:14px;color:#333333;margin-top:10px;margin-bottom:10px;display:block;}
.charming{font-size:20px;color:#333;}
.charming_text{font-size:12px;color:#666;margin-top:2px;}
.graytext{color:#666666 !important;}
.gallery{margin-top:10px;margin-left:-20px;float:left;}
.size{font-size:14px;color:#333333;float:left;margin-right:10px;}
.size_text{font-size:14px;color:#333333;float:left;}
.w200{width:200px;}
.mt100{margin-top:100px;}
.line{background:none scroll 0 0 #DDDDDD;height:1px;margin:7px 0;}
.name{font-size:12px;color:#000;}
.name_text{font-size:12px;;color:#000;font-style:italic;}
.send{
	font-size:12px;
	color:#cc33cc;
	margin-top:20px;
	display:block;
	font-family: proxima-bold;
	}
.w107{width: 160px;}
.available{font-size:18px;color:#000;}
.daytime{background: url("../assets/plus.png") no-repeat scroll left center transparent;color: #000000; float: left; font-size: 12px; margin-right: 37px; margin-top: 6px; padding-left: 20px; text-align: center;}
.w212{padding: 5px; width: 257px;}
.ml70{margin-left:45px !important;}
.search {
    background: none repeat scroll 0 0 #CC33CC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    /*float: left;
	margin-left: 105px;
    margin-top: 10px;    
    */
    margin: 0 auto;
    font-size: 20px;
    font-family: Proxima-bold;
    padding: 5px 25px;}

.pagination {
    list-style: none outside none;
    margin: 35px auto;
    max-width: 500px;
    padding: 0;
    text-align: center;
}


.pagination li {
    display: inline-table !important;
    float: none;
    margin-right: 10px;
}

.pagination li {
    display: block;
    text-decoration: none;
    color: #717171;
    font: bold 11px Arial, sans-serif;
    text-shadow: 0px 1px white;
    padding: 5px 8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    background: #f9f9f9;

    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li.current {
    color: white;
    text-shadow: 0px 1px #3f789f;

    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    background: #7cb9e5;

    background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}

.pagination li:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    background: #fff;

    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li:active,.pagination li a.current:active {
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

.pagination li.current:hover {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    background: #99cefc;

    background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}


.rg-image-wrapper{
    position:relative;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:100%;
    max-width:100%;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#000 url(../assets/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    /*-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;*/
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    /*-moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;*/
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
    display: none !important;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
}

.rg-gallery{
    width: 485px;
    float: left;
    margin-top: 20px;
}
.rg-view{
    height:30px;
    display: none !important;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../assets/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../assets/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}

#button {
	height: 32px;
	width: 184px;
	margin: auto;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu_class {
	border:1px solid #1c1c1c;
}

.the_menu {
	display:none;
	width:300px;
	border: 1px solid #1c1c1c;
}

.the_menu li {
	background-color: #302f2f;
}

.the_menu li a {
	color:#FFFFFF; 
	text-decoration:none; 
	padding:10px; 
	display:block;
}

.the_menu li a:hover {
	padding:10px;
	
	color: #F00880;
}

.XXII {
    font-size: 1.2em;
    font-family: XXII,Arial,Helvetica,sans-serif;
    font-variant: small-caps;
}

.ui-slider-horizontal {
    height: 1.8em !important;
}

.ui-slider-horizontal .ui-slider-range {
	background: none repeat scroll 0 0 cyan !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1.3em !important;
}

.ui-slider {
	border-radius: 0 !important;
}

.avail_item {
	display: inline-block;
	width: 100px;
	margin-bottom: 10px;
}

.linkAddRmFavorite{
	float:right;
	font-family: proxima-bold;
	color: #cc33cc;
	padding-top: 1em;
}

.blockParts, .blockParts2{
  	font-size: 16px; 
  	/*font-weight: bold; */
  	font-family: proxima-bold;
  	padding-bottom: 1em;
  }
  
  .blockParts2{
  	float: left;
  	padding-top: 1em;
  	color: #333333;
  }