@charset "utf-8";

* {
    margin: 0pt;
    padding: 0pt;
}

img {
    border: 0pt none;
}

a {
    color: #333333;
    text-decoration: none;
}

.dropdowns select {
    background: none repeat scroll 0pt 0pt transparent;
    border: 0pt none;
    float: left;
    margin: 2px 15px;
    padding: 2px 5px;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
}

.menubar a {
    float: left;
    font-weight: bold;
    padding: 6px 24px;
    text-transform: uppercase;
}

.maincontainer {
    margin: 0pt auto;
    width: 1020px;
}

.logo {
    float: left;
    margin-top: 15px;
}

.menubar {
    float: left;
    font-size: 12px;
    margin-top: 7px;
    padding-left: 20px;
    width: 838px;
}

.header {
    background: url("../assets/BG.png") repeat-x scroll 0 0 #FFFFFF;
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.loginpannel {
    float: right;
    height: 22px;
    padding-top: 10px;
}

.loginpannel input[type="button"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="submit"] {
    background-color: #FFFF33;
    border: 1px solid #000000;
    font-size: 12px;
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    width: 44px;
}

.loginpannel input[type="text"], .loginpannel input[type="password"] {
    border: 1px solid #000000;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-top: 2px;
    width: 76px;
}

.loginpannel input[type="text"] {
    width: 103px;
}

.dropdowns {
    float: right;
    height: 26px;
}

.listaspace {
    margin-top: 6px;
}

.contentholder {
    float: left;
    margin-top: 135px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 425px;
}

.header .contentholder {
    margin-top: 0px;
}

.rightcontent {
    box-shadow: 2px 2px 2px;
    float: right;
    padding: 0pt 17px;
    position: relative;
    right: 29px;
    width: 207px;
}

.leftcontent {
    float: left;
    margin-left: 10px;
    width: 716px;
}

.refinesearchresults {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px;
    height: 60px;
}

.refinesearchresults .area {
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
    height: 34px;
    margin-left: 24px;
    margin-right: 44px;
    margin-top: 14px;
    width: 220px;
}

.refinesearchresults input[type="text"] {
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
    height: 32px;
    margin-right: 22px;
    margin-top: 14px;
    width: 121px;
}

.refinesearchresults input[type="image"] {
    margin: 16px;
}

.refinesearchresults span {
    float: left;
    font-size: 14px;
    line-height: 62px;
    margin-right: 7px;
}

.sortby {
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    width: 100%;
}

.sortby span {
    float: right;
    line-height: 28px;
    margin-right: 8px;
}

.sortby select {
    float: right;
    padding: 3px;
}

.resultsholderlist {
    box-shadow: 2px 2px 2px;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.resultsholder {
    border-bottom: 1px solid #000000;
    float: left;
    height: 141px;
    width: 100%;
}

.resultsholder img {
    float: left;
    margin: 11px 16px 11px 30px;
}

.resultsholder .heading {
    float: left;
    font-size: 22px;
    font-weight: bold;
    padding-top: 12px;
    width: 419px;
}

.resultsholder .subheading {
    font-size: 12px;
    font-weight: bold;
    line-height: 8px;
}

.resultsholder .details {
    font-size: 12px;
}

.resultsholder .price {
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    width: 110px;
    color: #666666;
}

.resultsholder .perweek {
    font-size: 14px;
    line-height: 2px;
}

.pannelright {
    border: 1px solid #000000;
    display: table;
    margin-top: 10px;
    min-height: 66px;
    padding: 5px;
    text-align: center;
    width: 193px;
}

.closepannel {
    float: right;
}

.pannelright .heading_right {
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 170px;
}

h2 {
    font-size: 16px;
    margin: 2px 0pt;
}

.twocol {
    float: left;
    font-size: 10px;
    text-align: left;
    width: 100%;
}

.twocol span {
    float: left;
    line-height: 7px;
    margin: 6px 0pt 6px 2px;
    width: 85px;
}

.twocol .leftrow {
    float: left;
    width: 49%;
}

.twocol .rightrow {
    float: left;
    margin-left: 1%;
    width: 49%;
}

.twocol .unselected {
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}

.twocol .selected {
    background-color: #CC33FF;
    border: 1px solid #000000;
    float: left;
    height: 5px;
    margin: 6px 0pt;
    width: 5px;
}
.cont_heading{font-size:17px;font-weight:bold;color:#333;padding-left: 83px;}
.clear{width:0;height:0;overflow:hidden;visibility:hidden;display:block;clear:both;}
.fltL{float:left;}
.fltR{float:right;}
.leftArrow, .rightArrow{background:url(../assets/left_arrow.png) no-repeat;float:left; width:19px;height:29px;margin:64px 30px 0 30px;}
.rightArrow{background:url(../assets/right_arrow.png) no-repeat !important;margin:64px 0 0 10px;}
.gellaryHold{float:left;width:830px; margin-left: 60px;}
.g_hold {
    background-color: #FFFFFF;
    box-shadow: 4px 5px 6px #333333;
    -webkit-box-shadow: 4px 5px 6px #333333;
    -moz-box-shadow: 4px 5px 6px #333333;
    float: left;
    margin-right: 20px;
    padding: 6px;
}
.g_hold img{
    height: 100px;
    width: 135px;
}
.g_hold h1{font-size:12px;font-weight:bold;color:#3f3f3f;text-align:center;margin-top:5px;}
.g_hold p{font-size:12px;font-weight:bold;color:#3f3f3f;text-align:center;margin-top:5px;}
.g_hold h5{font-size:12px;font-weight:bold;float:left;margin-top:10px;color:#00cccc;background:url(../assets/man_icon.png) no-repeat;padding-left:8px;}
.g_hold h6{font-size:12px;font-weight:bold;color:#666666;float:right;margin-top:10px;}
.img-heading{margin-top:20px;text-align:center;}
.w370{width:370px;}
.w390{width:390px;}
.paris_hold {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 5px 6px;
    -webkit-box-shadow: 4px 5px 6px  #888;
    padding: 20px;
}

.mt10{margin-top:10px;}
.mt30{margin-top:30px !important;}
.paris {
    border: 1px solid #939393;
    font-size: 25px;
    padding: 5px 10px;
    width: 100%;
}
.start_time{margin-top:10px;}
.start_time p{font-size:15px;color:#010100;}
.start_time input{border: 1px solid #939393; margin-top: 5px; padding: 3px; width: 122px;}
/*.search_home {
    background: url(../assets/search_home.png) repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    float: left;
    font-size: 0;
    font-weight: bold;
    height: 34px;
    margin-left: 105px;
    margin-top: 20px;
    width: 128px;
}*/


.searchDropdown {
    float: left;
    margin: 0 6px;
    padding: 5px;
}
.searchDropdown ul {
    background-color: transparent;
    float: none;
    list-style: none outside none;
    padding-top: 5px;
    display: none;
    position: absolute;
}
.searchDropdown ul li {
    background-color: #CC33CC;
    float: left;
    width: 100%;
}

.searchDropdown span {
    padding: 8px;
}
.searchDropdown ul li a {
    padding: 5px 9px;
    color: #fff;
}
.searchDropdown:target ul {
    display: block;
}
.searchDropdown:hover {
    cursor: pointer;
}
.searchDropdown ul li:last-child {
    border: 0 none transparent;
}
.searchDropdown span {
    background: url("../assets/v.png") no-repeat scroll right center transparent;
    padding: 0 13px;
}


.dropdown {
    float: left;
    margin: 0 6px;
    padding: 5px;
}
.dropdown ul {
    background-color: transparent;
    float: none;
    list-style: none outside none;
    padding-top: 5px;
    display: none;
    position: absolute;
}
.dropdown ul li {
    background-color: #CC33CC;
    float: left;
    width: 100%;
}
.dropdown ul li:hover {
    background-color: #000;
}
.dropdown span {
    padding: 8px;
}
.dropdown ul li a {
    padding: 5px 9px;
    color: #fff;
}
.dropdown:hover ul {
    display: block;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdown ul li:last-child {
    border: 0 none transparent;
}
.dropdown span {
    background: url("../assets/v.png") no-repeat scroll right center transparent;
    padding: 0 13px;
}

.play_hold {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 5px 6px #333333;
    -webkit-box-shadow: 4px 5px 6px #333333;
    -moz-box-shadow: 4px 5px 6px #333333;
    padding: 25px;
}
.play_hold h1{font-size:18px;color:#666666;font-weight:bold;margin-bottom:10px;text-align: center}
.mr100{margin-right:100px;}
.ml40{margin-left:40px;}
.text_he{font-size:13px; color:#000;}
.search_dd{border: 1px solid #000000;float: left;font-size: 18px;height: 32px;margin-right: 22px;margin-top: 14px;width: 175px;}
.blue{color:#07c9c9 !important;}
.footer{font-size:11px; color:#353631;padding-bottom:20px;}
.footer a{text-decoration:none;color:#353631; margin-right:10px;}
.footer a:last-child{margin-right:0;}
.right{right:0;position:absolute;top:200px;}
.right .mail, .right .facebook, .right .google, 
.right .twiter{background:url(../assets/icon_sprit.png) no-repeat scroll 0 0 transparent;display: block; height: 20px; margin-bottom: 7px; width: 22px;}
.right .facebook{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -45px transparent;}
.right .google{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -90px transparent;}
.right .mail{background:url(../assets/icon_sprit.png) no-repeat scroll 0 -134px transparent;}
.m_act{background:#fff;}
.shadowCont {
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 2px #333333;
    box-shadow: 2px 2px 2px #333333;
    padding: 20px;
}

.s_head{font-size:22px;color:#00ffff;font-weight:bold;}
.reqInfo{color:#999999;margin-top:20px;margin-left:130px;}
.sign_up_input{margin-top:5px;}
.sign_up_input label{float:left;width:120px; margin-right:10px;text-align:right;font-size:12px;color:#000;font-weight:bold;line-height:20px;}
.sign_up_input input{width:198px;float:left;border:1px solid #666666;padding:2px 3px;}
.sign_up_input textarea{width:534px;float:left;border:1px solid #666666;padding:2px 3px;}
.day, .month, .year{float:left;margin-right:5px;border:1px solid #666;padding:3px;width:60px;}
.month{width:60px;}
.year{width:87px;}
.checkbox{margin-top:5px;}
.checkbox input{float:left;margin-right:5px;width:auto;}
.checkbox label{float:left;text-align:left;font-weight:normal;}
.w50{width:50px !important;}
.mr10{margin-right:10px;}
.w129{width:129px !important;}
.back{font-size:14px;font-weight:bold;color:#333333;margin-top:10px;margin-bottom:10px;display:block;}
.charming{font-size:20px;color:#333;font-weight:bold;}
.charming_text{font-size:12px;color:#666;font-weight:bold;margin-top:2px;}
.graytext{color:#999999 !important;}
.gallery{margin-top:10px;margin-left:-20px;float:left;}
.size{font-size:14px;color:#333333;font-weight:bold;float:left;margin-right:10px;}
.size_text{font-size:14px;color:#333333;float:left;}
.w200{width:200px;}
.mt100{margin-top:100px;}
.line{background:none scroll 0 0 #666666;height:1px;margin:30px 0;}
.name{font-size:12px;font-weight:bold;color:#000;}
.name_text{font-size:12px;;color:#000;font-style:italic;}
.send{font-size:12px;font-weight:bold;color:#cc33cc;margin-top:20px;display:block;}
.w107{width:107px;}
.available{font-size:18px;color:#000;}
.daytime{background: url("../assets/plus.png") no-repeat scroll left center transparent;color: #000000; float: left; font-size: 12px; margin-right: 37px; margin-top: 6px; padding-left: 20px; text-align: center;}
.w212{width:212px;}
.ml70{margin-left:45px !important;}
.search {
    background: none repeat scroll 0 0 #CC33CC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 10px;
    padding: 5px 25px;}

.pagination {
    list-style: none outside none;
    margin: 35px auto;
    max-width: 500px;
    padding: 0;
    text-align: center;
}


.pagination li {
    display: inline-table !important;
    float: none;
    margin-right: 10px;
}

.pagination li {
    display: block;
    text-decoration: none;
    color: #717171;
    font: bold 11px Arial, sans-serif;
    text-shadow: 0px 1px white;
    padding: 5px 8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    background: #f9f9f9;

    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li.current {
    color: white;
    text-shadow: 0px 1px #3f789f;

    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    background: #7cb9e5;

    background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}

.pagination li:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    background: #fff;

    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li:active,.pagination li a.current:active {
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

.pagination li.current:hover {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    background: #99cefc;

    background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}


.rg-image-wrapper{
    position:relative;
    padding:20px 30px;
    background:transparent url(../assets/black.png) repeat top left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:100%;
    max-width:100%;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#000 url(../assets/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
}

.rg-gallery{
    width: 485px;
    float: left;
    margin-top: 20px;
}
.rg-view{
    height:30px;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../assets/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../assets/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}

#button {
	height: 32px;
	width: 184px;
	margin: auto;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu_class {
	border:1px solid #1c1c1c;
}

.the_menu {
	display:none;
	width:300px;
	border: 1px solid #1c1c1c;
}

.the_menu li {
	background-color: #302f2f;
}

.the_menu li a {
	color:#FFFFFF; 
	text-decoration:none; 
	padding:10px; 
	display:block;
}

.the_menu li a:hover {
	padding:10px;
	font-weight:bold;
	color: #F00880;
}