<div class="layout-center">
  <div class="shadowCont layout-page">
  
  <h1>Edit Profile</h1> <!-- TODO translate -->
  
  <div class="clear"></div>
  
  	<div style="width: 80%; margin-left:auto; margin-right: auto; text-align:center">
		<label style="font-family: proxima; color: purple; font-size: 15px;">Comments, suggestions? Let us know what...</label>		  	
  	</div>
	<br/>  	
	<br/>  	
	<br/>
	
	<div >
		<form>
			<div >
				<input type="text" value="First name" />
				<input type="text" value="Last name" />
				<input type="text" value="E-mail address" />
			</div>
			<br/>
			<input type="checkbox"/> <label style="">Send a copy to your e-mail address</label>
			<br/>
			<br/>
			<input type="text" value="Title" style="width:100%;"/>
			<br/>
			<textarea style="width:100%; height:100%">Detailed feedback</textarea>
			<br/>
			<input type="button" value="Send feedback" style="float:right;" class="search" />
		</form>		
	</div>  	
  	
  </div>
</div>  