<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "_face_book_verify.html" %>

<div id="remote">
  <div id="services" class="box">
    <a href="/auth/facebook" class="services">
      <%= image_tag "facebook_64.png", :size => "194x25", :alt => "Facebook" %>
    </a>
  </div>
</div>
