<h2>
  Picture Verification
</h2>
<div style="width: auto;height: auto;border: 1px solid silver;padding: 5px;">
  You picture is a way for us to verify you exist  in planet earth and to send you
  logistical information concerning your transactions. Also, it will be a way to contact the
  other party, as an owner or renter, after the transaction has been confirmed.  
</div>
<% unless @account.is_picture_verified %>
  <%= form_for @account, :html => {:multipart => true, :onsubmit => "if($('#photo').val() == ''){alert('Please choose some file first, Thanks');return false;}else{return true;}"} do |f| %>
    <br/>
    <%= hidden_field_tag "verification_type", params[:verification_type] %>
    <b>Please upload photo</b><br/>
    <div class="newPaperclipFiles">
      <%= file_field_tag :photo %>
    </div>
    <br/><br/>
    <div class="actions">
      <%= submit_tag "Upload Picture" %>
    </div>
  <% end %>
<% end %>
