<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "_twitter_verify.html" %>
<div id="remote">
  <div id="services" class="box">
    <a href="/auth/twitter" class="services"><%= image_tag "twitter.png", :size => "194x25", :alt => "Twitter" %>        </a>
  </div>
</div>
