<div id="right-dash" >
  <h1>Your Dashboard</h1>
</div>
<div style="float:left;width: 100%;" id="notifications_div">
  <%= render :partial => "notifications", :locals => {:notifications => @notifications} %>
</div>


